<clr-tree-node>
    The Beatles
    <ng-template [clrIfExpanded]="true">
        <clr-tree-node>
            <a
                routerLink= "donneeperso"
                class="clr-treenode-link"
                routerLinkActive="active">Abbey Road</a>
        </clr-tree-node>

        <clr-tree-node>
            <a
                
                class="clr-treenode-link"
                routerLinkActive="active">Revolver</a>
        </clr-tree-node>

        <clr-tree-node>
            <a
                
                class="clr-treenode-link"
                routerLinkActive="active">Rubber Soul</a>
        </clr-tree-node>
    </ng-template>
</clr-tree-node>