<form [formGroup]="soutienForm">
  <div formGroupName="soutienInfosForm">
        <div class="row top-margin">
          <div class="col-sm-6">

            <label>Avez-vous déja bénéficié d'un soutien Type A </label> </div>
            <div class="col-sm-6">
            <input type="radio" class="radio-inline" name = "isBeneficie" formControlName="isBeneficie"
                value ="true"
            >
            <label style="margin-left: 10px;">Oui</label>
            <input type="radio" class="radio-inline" style="margin-left: 10px;"   name = "isBeneficie" formControlName="isBeneficie"
                value ="false"
            >
            <label style="margin-left: 10px;">Non</label>
            </div>
        </div>

        <div class="row top-margin" >
          <div class="col-sm-6">
            <label>Préciser le montant <span class="text-danger">*</span></label>
            <input type="number" class="form-control" formControlName="montant">
          </div>
        </div>

        <div class="row top-margin">
            <div class="col-sm-6">

              <label>Nature de soutien demandé </label> </div>
              <div class="col-sm-6">
              <input type="radio" class="radio-inline" formControlName="isSoutienTotal"
                    name = "isSoutienTotal" value ="true"
              >
              <label style="margin-left: 10px;"> Soutien Total </label>
              <input type="radio" class="radio-inline" style="margin-left: 10px;" formControlName="isSoutienTotal"
                name = "isSoutienTotal" value ="false"
              >
              <label style="margin-left: 10px;"> Soutien Complémentaire </label>
              </div>

          </div>
          <div class="row top-margin">
            <div class="col-sm-6">
              <label>Montant Titre Transport <span class="text-danger">*</span></label>
              <input type="number" class="form-control" formControlName="montantTransport">
            </div>
            <div class="col-sm-6">
                <label>Montant Frais D'inscription <span class="text-danger">*</span></label>
                <input type="number" class="form-control"  formControlName="montantInscription">
              </div>
          </div>
          <div class="row top-margin">
            <div class="col-sm-6">
              <label>Montant Hébergement <span class="text-danger">*</span></label>
              <input type="number" class="form-control" formControlName="montantHeberegement">
            </div>
            <div class="col-sm-6">
                <label>Autre<span class="text-danger">*</span></label>
                <input type="number" class="form-control" formControlName="autreMontant">
              </div>
          </div>

          <div class="col-lg-4 text-right">
            <button class="btn btn-action" type="submit" (click)= "handleFinish()">Valider</button>
          </div>
    </div>


</form>
