<div class="content-area">
     
    <h3>Informations générales</h3>
    <form clrForm clrLayout="horizontal" clrLabelSize="4">

        <div class="clr-row">
            <div class="clr-col-12">
            <clr-radio-container clrInline>
                <label>Avez-vous déja bénéficié d'un soutien Type A</label>
                <clr-radio-wrapper>
                  <input type="radio" clrRadio name="options" required value="option1"  />
                  <label>Oui</label>
                </clr-radio-wrapper>
                <clr-radio-wrapper>
                  <input type="radio" clrRadio name="options" required value="option2" />
                  <label>Non</label>
                </clr-radio-wrapper>     
            </clr-radio-container> 
        </div>
        </div>

        <div class="clr-row">
            <div class="clr-col-12">
            <clr-input-container>
                <label>Préciser le montant</label>
                <input clrInput type="text" name="objet" required />
                <clr-control-error>We need your first name for legal compliance</clr-control-error>
            </clr-input-container>
        </div>
        </div>

        <div class="clr-row">
            <div class="clr-col-12">
            <clr-radio-container clrInline>
                <label>Nature de soutien demandé</label>
                <clr-radio-wrapper>
                  <input type="radio" clrRadio name="options" required value="option1"  />
                  <label>Soutien total</label>
                </clr-radio-wrapper>
                <clr-radio-wrapper>
                  <input type="radio" clrRadio name="options" required value="option2" />
                  <label>Soutien complémentaire</label>
                </clr-radio-wrapper>     
            </clr-radio-container> 
        </div>
    </div>

    <div class="clr-row">
        <div class="clr-col-6">
            <clr-input-container>
                <label>Montant titre transport</label>
                <input clrInput type="text" name="objet" required />
                <clr-control-error>We need your first name for legal compliance</clr-control-error>
            </clr-input-container>
        </div>
            <div class="clr-col-6">
            <clr-input-container>
                <label>Montant frais d'inscription</label>
                <input clrInput type="text" name="objet" required />
                <clr-control-error>We need your first name for legal compliance</clr-control-error>
            </clr-input-container>
            </div>
            <div class="clr-col-6">
            <clr-input-container>
                <label>Monant Hébergement</label>
                <input clrInput type="text" name="objet" required />
                <clr-control-error>We need your first name for legal compliance</clr-control-error>
            </clr-input-container>
            </div>
            <div class="clr-col-6">
            <clr-input-container>
                <label>Autre</label>
                <input clrInput type="text" name="objet" required />
                <clr-control-error>We need your first name for legal compliance</clr-control-error>
            </clr-input-container>
        </div>
    </div>

    </form>
</div>