
      <header id="head" class="secondary"></header>

      <!-- container -->
      <div class="container">

        <ol class="breadcrumb">
          <li><a href="index.html">Home</a></li>
          <li class="active">Left Sidebar</li>
        </ol>

        <div class="row">

          <!-- Sidebar -->
          <aside class="col-md-4 sidebar sidebar-left">

            <nav id="sidebar">
              <div class="sidebar-header">
                <h3>Navigation du formulaires</h3>

              </div>

              <ul class="list-unstyled components">

                <li class="">
                  <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Informations sur le demandeurs</a>
                  <ul class="collapse list-unstyled" id="homeSubmenu">
                    <li><a [routerLink]="['/postule' , { outlets: { forms: ['donneeperso'] } }]">Données personnelles</a></li>
                    <li><a [routerLink]="['/postule' , { outlets: { forms: ['donneepro'] } }]">Données profesionnelles</a></li>
                  </ul>
                </li>
                <li>

                  <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false">Informations sur le stage ou la mission</a>
                  <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li><a [routerLink]="['/postule' , { outlets: { forms: ['mission-info'] } }]">Informations générale</a></li>
                    <li><a [routerLink]="['/postule' , { outlets: { forms: ['mission-cadre'] } }]">cadre</a></li>
                    <li><a [routerLink]="['/postule' , { outlets: { forms: ['soutien'] } }]">Soutien</a></li>
                  </ul>
                </li>

              </ul>

              <ul class="list-unstyled CTAs">
                <li><a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to the article</a></li>
              </ul>
            </nav>

          </aside>
          <!-- /Sidebar -->

          <!-- Article main content -->
          <article class="col-md-8 maincontent" style="background-color: #f8f9fa ;">
            <header class="page-header">
              <h1 class="page-title">Lorem ipsum dolor sit amet, consectetur.</h1>
            </header>

            <router-outlet name="forms"></router-outlet>

          </article>
          <!-- /Article -->

        </div>
      </div>	<!-- /container -->
