


<header class="header-6">
    <div class="branding">
        <a href="..." class="nav-link">
            <a class="navbar-brand" href="#">
                <img src="../../../assets/uca.png" alt="..." height="36">
              </a>
            <span class="title" style="color:white">Soutien A</span>
        </a>
    </div>
    <div class="header-nav">
        <a routerLink = "/about" class="active nav-link nav-text" style="color:#3c3c38">About</a>
        <a routerLink="/postule" class="nav-link nav-text" style="color:#3c3c38">Postuler une demande</a>
    </div>
    <div class="header-actions">
        <clr-dropdown>
            <button class="nav-text" clrDropdownTrigger style="color:#3c3c38">
                john.doe@edu.uca.com
                <clr-icon shape="caret down"></clr-icon>
            </button>
            <clr-dropdown-menu *clrIfOpen clrPosition="bottom-right">
                <a href="..." clrDropdownItem>Settings</a>
                <a href="..." clrDropdownItem>Log out</a>
            </clr-dropdown-menu>
        </clr-dropdown>
    </div>
</header>

