<form>


  <div class="row top-margin">
    <div class="col-sm-6">
      <label>Nom <span class="text-danger">*</span></label>
      <input type="text" class="form-control">
    </div>
    <div class="col-sm-6">
      <label>Prénom <span class="text-danger">*</span></label>
      <input type="text" class="form-control">
    </div>
  </div>

  <div class="row top-margin">
    <div class="col-sm-6">
      <label>Num tel <span class="text-danger">*</span></label>
      <input type="text" class="form-control">
    </div>
    <div class="col-sm-6">
      <label>Email <span class="text-danger">*</span></label>
      <input type="text" class="form-control">
    </div>
  </div>
  <div class="row top-margin">
    <div class="col-sm-6">
        
      <label>Fonction au sein de l'établissement </label> </div>
      <div class="col-sm-6">
      <input  type="radio" class="radio-inline" >
      <label style="margin-left: 10px;">Enseignant Chercheur</label>
      <input type="radio" class="radio-inline" style="margin-left: 10px;">
      <label style="margin-left: 10px;">Doctorant</label>
      </div>
  </div>
  <hr>

  
</form>
