<form>


  <div class="row top-margin">
    <div class="col-sm-6">
      <label>Nom <span class="text-danger">*</span></label>
      <input type="text" class="form-control">
    </div>
    <div class="col-sm-6">
      <label>Prénom <span class="text-danger">*</span></label>
      <input type="text" class="form-control">
    </div>
  </div>

  <div class="row top-margin">
    <div class="col-sm-6">
      <label>Num tel <span class="text-danger">*</span></label>
      <input type="text" class="form-control">
    </div>
    <div class="col-sm-6">
      <label>Email <span class="text-danger">*</span></label>
      <input type="text" class="form-control">
    </div>
  </div>
  <div class="top-margin">
    <div class="col-sm-12">
      <label>Fonction au sein de l'établissement : </label>
      <span class="radio-inline">
        <input type="radio" name="optradio" checked>Enseigant chercheur
      </span>
      <span class="radio-inline">
        <input type="radio" name="optradio">Doctorant
      </span>
    </div>
  </div>

  <hr>

  <div class="row">
    <div class="col-lg-8">
      <label class="checkbox">
        <input type="checkbox">
        I've read the <a href="page_terms.html">Terms and Conditions</a>
      </label>
    </div>
    <div class="col-lg-4 text-right">
      <button class="btn btn-action" type="submit">Register</button>
    </div>
  </div>
</form>
