<section class="ftco-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center mb-5">
                <h2 class="heading-section">Historiques des Demandes </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">


                <div class="table-wrap">
                    <table class="table table-responsive-xl">
                      <thead>
                        <tr>
                          <th>Code</th>
                          <th>Type</th>
                          <th>Intitulé</th>
                          <th>Etat</th>
                          <th>&nbsp;</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr class="alert" role="alert" *ngFor="let demande of userDemandes">

                          <td class="d-flex align-items-center">

                              <div class="pl-3 email">
                                  <span>523611</span>
                                  <span>Added: {{demande.created_at}}</span>
                              </div>
                          </td>
                          <td>{{demande.is_mission ? "Manifestation" : "Mission"}}</td>
                          <td>{{demande.intitule}}</td>
                          <td class="status"><span class="active">{{demande.libelle}}</span></td>
                          <td>
                              <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                  <span aria-hidden="true"><i class="fa fa-close"></i></span>
                              </button>
                          </td>
                        </tr>


                      </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</section>
