<form>

    <div class="row top-margin">
      <div class="col-sm-6">
        <label>Objet de la mission ou stage <span class="text-danger">*</span></label>
        <input type="text" class="form-control">
      </div>
    </div>
    <div class="row top-margin">
      <div class="col-sm-6">
        <label>Pays <span class="text-danger">*</span></label>
        <input type="text" class="form-control">
      </div>
      <div class="col-sm-6">
          <label>Ville<span class="text-danger">*</span></label>
          <input type="text" class="form-control">
        </div>
    </div>
    <div class="row top-margin">
       <div class="col-sm-6">
     
          <label>Date debut<span class="text-danger">*</span></label>
          <input type="date" placeholder="Choisir une date" class="form-control" id="reservationDate">
        </div>
        <div class="col-sm-6">
        <label>Date Fin<span class="text-danger">*</span></label>
        <input type="date" placeholder="Choisir une date" class="form-control" id="reservationDate">
        </div>
</div>
<div class="row top-margin">
    <div class="col-sm-6">
  
       <label>Date depart<span class="text-danger">*</span></label>
       <input type="date" placeholder="Choisir une date" class="form-control" id="reservationDate">
     </div>
     <div class="col-sm-6">
     <label>Date retour<span class="text-danger">*</span></label>
     <input type="date" placeholder="Choisir une date" class="form-control" id="reservationDate">
     </div>
</div>
  
   
      

 
 
</form>
