<section class="ftco-section">
  <div class="container">
      <div class="row justify-content-center">
          <div class="col-md-6 text-center mb-5">
              <h2 class="heading-section">Historiques des Demandes </h2>
          </div>
      </div>
      <div class="row">
          <div class="col-md-12">


              <div class="table-wrap">
                  <table class="table table-responsive-xl">
                    <thead>
                      <tr>
                          <th>Num</th>
                          <th>Code</th>
                        <th>Demandeur</th>
                        <th>Etat</th>
                        <th>Déposer Rapport</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr class="alert" role="alert">
                          <td>
                              <label class="checkbox-wrap checkbox-primary">

                                    <span> 1</span>
                                  </label>
                          </td>
                        <td class="d-flex align-items-center">

                            <div class="pl-3 email">
                                <span>523611</span>
                                <span>Added: 01/03/2020</span>
                            </div>
                        </td>
                        <td>Maskan Zakaria</td>
                        <td class="status"><span class="active">Acceptée</span></td>
                        <td>

                         <!-- Trigger the modal with a button -->
<button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
<div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal">&times;</button>
      <h4 class="modal-title">Modal Header</h4>
    </div>
    <div class="modal-body">
      <p>Some text in the modal.</p>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    </div>
  </div>

</div>
</div>	<!-- /container -->


                           <button role="button" class="btn btn-outline-warning btn-lg  btn-iconed btn-rounded" style="margin-left: 10px;" disabled="disabled">
                              <i class=""></i> <span class="spn">Edit</span>
                           </button>
                      </td>
                      <td>





                      </td>
                      </tr>
                      <tr class="alert" role="alert">
                          <td>
                              <label class="checkbox-wrap checkbox-primary">

                                    <span> 2</span>
                                  </label>
                          </td>
                        <td class="d-flex align-items-center">

                            <div class="pl-3 email">
                                <span>523611</span>
                                <span>Added: 01/03/2020</span>
                            </div>
                        </td>
                        <td>Maskan Zakaria</td>
                        <td class="status"><span class="active">Acceptée</span></td>

                      <td>

                          <button role="button" class="btn btn-outline-warning btn-lg btn-iconed btn-rounded" >
                              <i class=""></i> <span class="spn" routerLink="/depot-rapport">Déposer</span>
                           </button>
                           <button role="button" class="btn btn-outline-warning btn-lg  btn-iconed btn-rounded" style="margin-left: 10px;" disabled="disabled">
                              <i class=""></i> <span class="spn">Edit</span>
                           </button>
                      </td>
                      </tr>
                      <tr class="alert" role="alert">
                          <td>
                              <label class="checkbox-wrap checkbox-primary">

                                    <span >3</span>
                                  </label>
                          </td>
                        <td class="d-flex align-items-center">

                            <div class="pl-3 email">
                                <span>41236</span>
                                <span>Added: 01/03/2020</span>
                            </div>
                        </td>
                        <td>Maskan Zakaria</td>
                        <td class="status"><span class="waiting">En cours</span></td>

                        <td>

                          <button role="button" class="btn btn-outline-warning btn-lg btn-iconed btn-rounded"disabled="disabled" >
                              <i class=""></i> <span class="spn" >Déposer</span>
                           </button>
                           <button role="button" class="btn btn-outline-warning btn-lg  btn-iconed btn-rounded" style="margin-left: 10px;" >
                              <i class=""></i> <span class="spn">Edit</span>
                           </button>
                      </td>

                      </tr>



                    </tbody>
                  </table>
              </div>
          </div>
      </div>
  </div>
</section>
