


<div class="content-area">
     
    <h3>Données personnelles</h3>
    <form clrForm clrLayout="horizontal" clrLabelSize="4">
        <div class="clr-row">
            <div class="clr-col-12">
                <clr-input-container>
                    <label>Objet de le mission ou stage</label>
                    <input clrInput type="text" name="objet" required />
                    <clr-control-error>We need your first name for legal compliance</clr-control-error>
                </clr-input-container>
            </div>
            
        </div>
        <div class="clr-row">
            <div class="clr-col-6">
                <clr-input-container>
                    <label>Pays</label>
                    <input clrInput type="text" name="objet" required />
                    <clr-control-error>We need your first name for legal compliance</clr-control-error>
                </clr-input-container>
            </div>
            <div class="clr-col-6">
                <clr-input-container>
                    <label>Ville</label>
                    <input clrInput type="text" name="lieu" required />
                    <clr-control-error>We need your first name for legal compliance</clr-control-error>
                </clr-input-container>
            </div>
        </div>
       
        <div class="clr-row">
           
         
            <div class="clr-col-6">
              
                <clr-date-container>
                    <label>Date de début</label>
                    <input type="date" clrDate name="demo"  />
                  </clr-date-container>
            </div>
            <div class="clr-col-6">
                <clr-date-container>
                    <label>Date de fin</label>
                    <input type="date" clrDate name="demo"  />
                </clr-date-container>
            </div>
        </div>

        <div class="clr-row">
           
         
            <div class="clr-col-6">
              
                <clr-date-container>
                    <label>Date départ</label>
                    <input type="date" clrDate name="demo"  />
                  </clr-date-container>
            </div>
            <div class="clr-col-6">
                <clr-date-container>
                    <label>Date retour</label>
                    <input type="date" clrDate name="demo"  />
                </clr-date-container>
            </div>
        </div>
                 
    </form> 
</div>

  
  