<form>

    <div class="row top-margin">
    
        <div class="col-sm-6">
        <input type="radio" class="radio-inline" >
        <label style="margin-left: 5px;"> Ce projet de coopération financé, mais le titre de transport ne fait pas partie de l'enveloppe budgétaire allouée</label>
        <input type="radio" class="radio-inline" style="margin-left: 10px;">
        <label style="margin-left: 10px;">Non</label>
        </div>
    </div>

    <div class="row top-margin">
      <div class="col-sm-6">
        <label>Préciser le montant <span class="text-danger">*</span></label>
        <input type="text" class="form-control">
      </div>
    </div>
    
    <div class="row top-margin">
        <div class="col-sm-6">
            
          <label>Nature de soutien demandé </label> </div>
          <div class="col-sm-6">
          <input type="radio" class="radio-inline" >
          <label style="margin-left: 10px;"> Soutien Total </label>
          <input type="radio" class="radio-inline" style="margin-left: 10px;">
          <label style="margin-left: 10px;"> Soutien Complémentaire </label>
          </div>
        
      </div>
      <div class="row top-margin">
        <div class="col-sm-6">
          <label>Montant Titre Transport <span class="text-danger">*</span></label>
          <input type="text" class="form-control">
        </div>
        <div class="col-sm-6">
            <label>Montant Frais D'inscription <span class="text-danger">*</span></label>
            <input type="text" class="form-control">
          </div>
      </div>
      <div class="row top-margin">
        <div class="col-sm-6">
          <label>Montant Hébergement <span class="text-danger">*</span></label>
          <input type="text" class="form-control">
        </div>
        <div class="col-sm-6">
            <label>Autre<span class="text-danger">*</span></label>
            <input type="text" class="form-control">
          </div>
      </div>
    
 
 
</form>