<div class="content-area">  
    <h3>Cadre de la mission ou du stage</h3>
    <form clrForm clrLayout="horizontal" clrLabelSize="4"> 
        
        <clr-radio-container >
            <clr-radio-wrapper>
                    <input type="radio" clrRadio name="options" required value="option1"  />
                    <label>Ce projet de coopération financé, mais le titre de transport ne fait pas partie de l'enveloppe budgétaire allouée</label>
            </clr-radio-wrapper>
            <clr-radio-wrapper>
                <input type="radio" clrRadio name="options" required value="option2" />
                <label>Ce n'est pas dans le cadre d'un projet de Recherche financé</label>
            </clr-radio-wrapper>
        </clr-radio-container> 
          
                
             <!--<div class="clr-form-control"> 
                        <clr-select-container>
                            <label>Etablissement :</label>
                            <select clrSelect name="options" >
                            <option value="one">PRAD</option>
                            <option value="two">AutreProgramme</option>
                            </select>
                        </clr-select-container>
                    <label for="example1" class="clr-control-label">Référence</label>
                        <div class="clr-control-container">
                            <div class="clr-input-wrapper">
                                <input type="text" id="example1" placeholder="Placeholder" class="clr-input" />
                            </div>
                        </div>
                
                </div>-->
                
                <div class="clr-form-control">
                    <label for="example1" class="clr-control-label">Préciser le cadre</label>
                    <div class="clr-control-container">
                        <div class="clr-input-wrapper">
                            <input type="text" id="example1" placeholder="Placeholder" class="clr-input" />
                        </div>
                    </div>   
                </div>
          
      
            <div>
                <clr-input-container>
                    <label>Intitulé du projet de coopération : </label>
                    <input clrInput type="text" name="firstName" required />
                    <clr-control-error>We need your first name for legal compliance</clr-control-error>
                </clr-input-container>

                <clr-input-container>
                    <label>Responsable marocain du projet :</label>
                    <input clrInput type="text" name="firstName" required />
                    <clr-control-error>We need your first name for legal compliance</clr-control-error>
                </clr-input-container>


                <div class="clr-form-control">
                    <label for="example3" class="clr-control-label">Partenaire(s) étranger(s) impliqué(s) :</label>
                    <div class="clr-control-container">
                      <div class="clr-textarea-wrapper">
                        <textarea id="example3" placeholder="Placeholder" class="clr-textarea"></textarea>
                      </div>
                    </div>
                </div>
            </div>
            
        
    </form>
</div> 