


<div class="content-area">
     
    <h3>Données personnelles</h3>
    <form clrForm clrLayout="horizontal" clrLabelSize="4">
        <div class="clr-row">
            <div class="clr-col-6">
                <clr-input-container>
                    <label>Nom</label>
                    <input clrInput type="text" name="firstName" required />
                    <clr-control-error>We need your first name for legal compliance</clr-control-error>
                </clr-input-container>
            </div>
            <div class="clr-col-6">
                <clr-input-container>
                    <label>Prénom</label>
                    <input clrInput type="text" name="firstName" required />
                    <clr-control-error>We need your first name for legal compliance</clr-control-error>
                </clr-input-container>
            </div>
        </div>
        <div class="clr-row">
            <div class="clr-col-6">
                <clr-input-container>
                <label>Num Tel :</label>
                <input clrInput type="text" name="firstName" required />
                <clr-control-error>We need your first name for legal compliance</clr-control-error>
                </clr-input-container>
            </div>
            <div class="clr-col-6">
                <clr-input-container>
                    <label>Email :</label>
                    <input clrInput type="text" name="firstName" required />
                    <clr-control-error>We need your first name for legal compliance</clr-control-error>
                </clr-input-container>
            </div>
        </div>
        <clr-radio-container clrInline>
            <label>Fonction au sein de l'établissement</label>
            <clr-radio-wrapper>
              <input type="radio" clrRadio name="options" required value="option1"  />
              <label>Enseignant chercheur</label>
            </clr-radio-wrapper>
            <clr-radio-wrapper>
              <input type="radio" clrRadio name="options" required value="option2" />
              <label>Doctorant</label>
            </clr-radio-wrapper>
        </clr-radio-container>          
    </form> 
</div>

  
