<header class="page-header">
  <h1 class="page-title">Documents</h1>
</header>

<form [formGroup]="fileForm">

  <div class="row top-margin">
     <div class="col-sm-6">

      <label>CIN : </label>
      <input type="file" class="custom-file-input" id="validatedCustomFile" required
          formControlName ="cin"  (change)="uploadFile($event)"
      >

     </div>
     <div class="col-sm-6">

      <label>Document 1 : </label>
      <input type="file" class="custom-file-input" id="validatedCustomFile"
        (change) = "uploadFile($event)"
      >

     </div>
  </div>
  <div class="row top-margin">
    <div class="col-sm-6">

     <label>Document2 : </label>
     <input type="file" class="custom-file-input" id="validatedCustomFile" >

    </div>
    <div class="col-sm-6">

     <label>Document 3 : </label>
     <input type="file" class="custom-file-input" id="validatedCustomFile" >

    </div>
 </div>
 <div class="row top-margin">
  <div class="col-sm-6">

   <label>Document 4 : </label>
   <input type="file" class="custom-file-input" id="validatedCustomFile" >

  </div>
  <div class="col-sm-6">

   <label>Document 5 : </label>
   <input type="file" class="custom-file-input" id="validatedCustomFile" >

  </div>
</div>








    <div class="col-lg-4 text-right">
      <button style="margin-top: 30px;" class="btn btn-action" type="submit"
        (click)="sendFiles()"
      >Valider</button>
    </div>



</form>
