<div class="jumbotron top-space">
  <h4>Dicta, nostrum nemo soluta sapiente sit dolor quae voluptas quidem doloribus recusandae facere magni ullam suscipit sunt atque rerum eaque iusto facilis esse nam veniam incidunt officia perspiciatis at voluptatibus. Libero, aliquid illum possimus numquam fuga.</h4>
     <p class="text-right"><a class="btn btn-primary btn-large" routerLink="/postule/mission">Learn more »</a></p>
</div>
<div class="jumbotron top-space">
  <h4>Dicta, nostrum nemo soluta sapiente sit dolor quae voluptas quidem doloribus recusandae facere magni ullam suscipit sunt atque rerum eaque iusto facilis esse nam veniam incidunt officia perspiciatis at voluptatibus. Libero, aliquid illum possimus numquam fuga.</h4>
     <p class="text-right"><a class="btn btn-primary btn-large"  routerLink="/postule/manifestation">Learn more »</a></p>
</div>

