<form>


    <div class="top-margin">
        <div class="col-sm-6">
          <label>Grade : </label>
          <span class="radio">
            <input type="radio" name="optradio" checked>PES
          </span>
          <span class="radio">
            <input type="radio" name="optradio">PH
          </span>
          <span class="radio">
            <input type="radio" name="optradio">PA
          </span>
          <span class="radio">
            <input type="radio" name="optradio">Autre
          </span>
        </div>
      </div>
  
    
    <div class="top-margin">
      <div class="col-sm-12">
        <label>Fonctionaire ou salarié: </label>
        <span class="radio-inline">
          <input type="radio" name="optradio" checked>Oui
        </span>
        <span class="radio-inline">
          <input type="radio" name="optradio">Non
        </span>
      </div>
    </div>
    <div class="top-margin">
        <div class="col-sm-12">
          <label>Année Thèse : </label>
          <span class="radio">
            <input type="radio" name="optradio" checked>Première
          </span>
          <span class="radio">
            <input type="radio" name="optradio">Deuxième
          </span>
          <span class="radio">
            <input type="radio" name="optradio">Troixième
          </span>
          
        </div>
      </div>

      <div class="row top-margin">
        <div class="col-sm-6">
          <label>Directeur de thèse <span class="text-danger">*</span></label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="row top-margin">
        <div class="col-sm-6">
          <label>CED <span class="text-danger">*</span></label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="row top-margin">
        <div class="col-sm-6">
          <label>Etablissement </label>
          <select class="form-control">
            <option>Choisir un etablissement</option>
            <option>FSTG</option>
            <option>FSSM</option>
            <option>FMPM</option>
          </select>
        </div>
       
      </div>
      <div class="row top-margin">
        <div class="col-sm-6">
          <label>Entite de Recherche<span class="text-danger">*</span></label>
          <input type="text" class="form-control">
        </div>
    </div>
    <div class="row top-margin">
        <div class="col-sm-6">
          <label>Responsable de l'entite de recherche<span class="text-danger">*</span></label>
          <input type="text" class="form-control">
        </div>
      </div>
     
  
   
   
  </form>
