<div class="content-area">
    <h3>Données profesionnelles</h3>
 
    <form clrForm clrLayout="horizontal" clrLabelSize="4">
        <div>
            <clr-radio-container >
                <label>Grade : </label>
                <clr-radio-wrapper>
                    <input type="radio" clrRadio name="options" required value="option1"  />
                    <label>PES</label>
                </clr-radio-wrapper>
                <clr-radio-wrapper>
                    <input type="radio" clrRadio name="options" required value="option2" />
                    <label>PH</label>
                </clr-radio-wrapper>
                <clr-radio-wrapper>
                    <input type="radio" clrRadio name="options" required value="option2" />
                    <label>PA</label>
                </clr-radio-wrapper>
                <clr-radio-wrapper>
                    <input type="radio" clrRadio name="options" required value="option2" />
                    <label>Autre</label>
                </clr-radio-wrapper>
            </clr-radio-container> 
        </div> 
        <div>
            <clr-radio-container clrInline>
                <label>Fouctionnaire ou salarié</label>
                <clr-radio-wrapper>
                  <input type="radio" clrRadio name="options" required value="option1"  />
                  <label>Oui</label>
                </clr-radio-wrapper>
                <clr-radio-wrapper>
                  <input type="radio" clrRadio name="options" required value="option2" />
                  <label>Non</label>
                </clr-radio-wrapper>
            </clr-radio-container>
            <clr-radio-container >
                <label>Année thèse : </label>
                <clr-radio-wrapper>
                    <input type="radio" clrRadio name="options" required value="option1"  />
                    <label>Première</label>
                </clr-radio-wrapper>
                <clr-radio-wrapper>
                    <input type="radio" clrRadio name="options" required value="option2" />
                    <label>Deuxième</label>
                </clr-radio-wrapper>
                <clr-radio-wrapper>
                    <input type="radio" clrRadio name="options" required value="option2" />
                    <label>Troisième et plus</label>
                </clr-radio-wrapper>
                <clr-radio-wrapper>
                    <input type="radio" clrRadio name="options" required value="option2" />
                    <label>Autre</label>
                </clr-radio-wrapper>
            </clr-radio-container> 
            <clr-input-container>
                <label>Directeur de Thèse</label>
                <input clrInput type="text" name="firstName" required />
                <clr-control-error>We need your first name for legal compliance</clr-control-error>
            </clr-input-container>
            <clr-input-container>
                <label>CED</label>
                <input clrInput type="text" name="firstName" required />
                <clr-control-error>We need your first name for legal compliance</clr-control-error>
            </clr-input-container>
        </div> 
        
        <clr-select-container>
            <label>Etablissement :</label>
            <select clrSelect name="options" >
              <option value="one">FSSM</option>
              <option value="two">FSTG</option>
              <option value="three">FLSHM</option>
            </select>
        </clr-select-container>
        <div class="clr-form-control">
            <label for="example1" class="clr-control-label">Département</label>
            <div class="clr-control-container">
              <div class="clr-input-wrapper">
                <input type="text" id="example1" placeholder="Placeholder" class="clr-input" />
              </div>
            </div>
        </div>
        <div class="clr-form-control">
            <label for="example1" class="clr-control-label">Entité de Recherhce (Centres, Loboratoire...)</label>
            <div class="clr-control-container">
              <div class="clr-input-wrapper">
                <input type="text" id="example1" placeholder="Placeholder" class="clr-input" />
              </div>
            </div>
        </div>
        <div class="clr-form-control">
            <label for="example1" class="clr-control-label">Responsable de l'entite de recherche</label>
            <div class="clr-control-container">
              <div class="clr-input-wrapper">
                <input type="text" id="example1" placeholder="Placeholder" class="clr-input" />
              </div>
            </div>
        </div>
          


    </form> 
</div>