<form [formGroup]= "demandeurProForm">
  <div formGroupName = "demandeurProInfos">
  <div class="top-margin"  >
    <div class="col-sm-12">
      <label>Fonctionaire ou salarié: </label>
      <span class="radio-inline">
        <input type="radio" value="false" name="optradio3" formControlName="isSalarie" checked>Fonctionaire
      </span>
      <span class="radio-inline">
        <input type="radio" value="true" formControlName="isSalarie" name="optradio3">Salarié
      </span>
    </div>
  </div>

  <div class="top-margin" >
    <div class="col-sm-12">
      <label>Année Thèse : </label>
      <span class="radio">
        <input type="radio" value="premiere" formControlName="anneeThese" name="optradio4" checked>Première
      </span>
      <span class="radio">
        <input type="radio" value="deuxieme" formControlName="anneeThese" name="optradio4">Deuxième
      </span>
      <span class="radio">
        <input type="radio" value="troisieme" formControlName="anneeThese" name="optradio4">Troixième ou plus
      </span>

    </div>
  </div>

  <div class="row top-margin" >
    <div class="col-sm-6">
      <label>Directeur de thèse <span class="text-danger">*</span></label>
      <input type="text" class="form-control" formControlName="directeurThese">
    </div>
  </div>



  <div class="row top-margin">
        <div class="col-sm-6">
          <label>CED <span class="text-danger">*</span></label>
          <input type="text" class="form-control" formControlName="ced">
        </div>
      </div>
      <div class="row top-margin">
        <div class="col-sm-6">
          <label>Etablissement </label>
          <select class="form-control" formControlName="etablissement">
            <option>Choisir un etablissement</option>
            <option value="FSTS">FSTG</option>
            <option value="FSSM">FSSM</option>
            <option value="FMPM">FMPM</option>
          </select>
        </div>

      </div>
      <div class="row top-margin">
        <div class="col-sm-6">
          <label>Entite de Recherche<span class="text-danger">*</span></label>
          <input type="text" class="form-control" formControlName="entiteDeRecherche">
        </div>
    </div>
    <div class="row top-margin">
        <div class="col-sm-6">
          <label>Responsable de l'entite de recherche<span class="text-danger">*</span></label>
          <input type="text" class="form-control" formControlName="responsableEntite">
        </div>
    </div>

    <div class="row">

      <div class="col-lg-4 text-right">
        <button class="btn btn-action" type="submit" (click)= "handleFinish()">Sign in</button>
      </div>
    </div>

</div>
</form>
